streamlit>=1.30
requests>=2.31

gTTS
deep-translator
googletrans==4.0.0-rc1

pandas
numpy
scipy

matplotlib
seaborn
plotly
wordcloud

Pillow
qrcode

streamlit-drawable-canvas
streamlit-mic-recorder

gspread
google-auth

openpyxl
textstat
countryinfo
